@model IEnumerable<Asp_Net_MVC_Blog.Models.sınıflar.uye>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Üyeler</h2>


<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Üye ad</th>
            <th>Üye soyad</th>
            <th>Kullanıcı adı</th>
            <th>Şifre</th>
            <th>İşlemler</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Uid</td>

            <td>@Html.Raw(item.Uyead)</td>
            <td>@Html.Raw(item.Uyesoyad)</td>
            <td>@Html.Raw(item.Ukullaniciadi)</td>
            <td>@Html.Raw(item.Usifre)</td>

            <td> <a href="/uye/Delete/@item.Uid">Sil </a></td>
        </tr>
        }



    </tbody>
</table>